body {
    background-color: black;
}

h1 {
    color: white;
    margin-left: 45px;
    font-family: Tahoma, Geneva, sans-serif;
} 

button {
    color: white;
    border-color: white;
    background-color: black;
    width: 70px;
    height: 40px;
    border-radius: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
}

textarea {
    width: 300px;
    height: 525px;
    margin: 0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    margin-top: -5px;
}

.top {
    position: absolute;
    right: 12px;
    top: 10px;
}

.content {
    position: relative;
    text-align:center;
}

.icon {
    height: 30px;
}

.invert {
    filter: invert(1);
}
